body{
    background-color: #EEEEEE;
}

.tituloSeccion{
    text-align: center;
}

#indexbutton a{
    color:white
}

.subtitle{
    text-align: center;
    margin:auto;
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
    font-size: 1.8rem;
    border-top: 1px solid rgba(128, 128, 128, 0.726);
    padding-top:1rem
}

.table thead th {
    vertical-align: middle;
}

.seccionPrincipal {
    width: 80%;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.726);
    margin:auto;
}

/* Titulo de sección */
.TitleYLogo{
    display: flex;
    justify-content: left;
}
    /* Logo de sección */
    div.TitleYLogo img{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        width: 3%;
        height: 3%;
    }

/* SECCIÓN PRESENTACIÓN */
#presentación{
    display: flex;
    padding-left: 1.5rem;
    margin-top:5rem;
}
    #datosPres{
        width:65%;
    }
        /* Facultad de ... */
        #tituloFacultad{
            font-size: 2.7rem;
            font-weight: 500;
            padding:1rem;
            padding-left: 0rem;
        }
        #subtituloAlias{
            font-size: 1.8rem;
            font-weight: 500;
        }

    /* SECCION STATS IMPORTANTES */
    #statsimp {
        width: 80%;
        padding-bottom: 2rem;
        margin: auto;
        display:flex;
        justify-content: space-around;
    }
        #statsimp > div{
            width: 21%;
            border: 1px solid black;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
    /* seccion cards */

    #contenedorcartas{
        width:80%;
        margin: auto;
        padding-top: 3%;
    }

        .card-deck .card h5{
            font-size: 1.4rem;
            font-weight: 600;
            width:100%;
            text-align: center;
            margin-bottom:0.6rem;
        }
        .card-deck .card p {
            font-size: 1rem;
            margin-top: 0.8rem;
            line-height: 1.3rem;
        }

        .card-body {
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
            padding:0.5rem
        }


/* Sección Alltime */
        /* EFICIENCIA y ASISTENCIA*/
        .cuadroMonoValor{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
            .titlecuadros{
                font-size: 1.1rem;
                margin-top:0.1rem;
            }
            .valuecuadros{
                font-size: 2.2rem;
                font-weight: 600;
                margin-top:1rem;
                margin-bottom:0.8rem;
            }

        /* GANADOS/PERDIDOS/JUGADOS */
            div#partidosAlltime{
                display: flex;
            }
            
                div#containerPGAlltime{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        border: 1px solid rgba(0,0,0,.125);
                }
                div#containerPEAlltime{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    border: 1px solid rgba(0,0,0,.125);
                }

                    div#containerPGAlltime > h3{
                        font-size: 1.2rem;
                    }
                    div#containerPGAlltime > p{
                        font-size: 2.2rem;
                        font-weight: 600;
                        margin-top:0.4rem;
                        color: green
                    }
                    div#containerPEAlltime > h3{
                        font-size: 1.2rem;
                    }
                    div#containerPEAlltime > p{
                        font-size: 2.2rem;
                        font-weight: 600;
                        margin-top:0.4rem;
                        color: rgb(0, 0, 0)
                    }

                    div#containerPGyPEAlltime {
                        width: 50%;
                        border: 1px solid rgba(0,0,0,.125);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }

                div#containerPPyPJAlltime{
                    width: 50%;
                    border: 1px solid rgba(0,0,0,.125);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                    div#containerPPAlltime{
                        width: 100%;
                        border: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                        border-bottom: 1px solid rgba(0,0,0,.125);
                        padding-top:0.5rem;
                        padding-bottom:0.5rem
                    }
                        div#containerPPAlltime > h3{
                            font-size: 1.2rem;
                        }
                        div#containerPPAlltime > p{
                            font-size: 2.2rem;
                            font-weight: 600;
                            margin-top: 0.4rem;
                            color: red
                        }
                    div#containerPJAlltime{
                        width: 100%;
                        border: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        text-align: center;
                        padding-top:0.5rem;
                        padding-bottom:0.5rem;
                        
                    }
                        div#containerPJAlltime > h3{
                            font-size: 1.2rem;
                        }
                        div#containerPJAlltime > p{
                            font-size: 2.2rem;
                            font-weight: 600;
                            margin-top: 0.4rem;
                            color: blue
                        }
        /* OP y DP */
        div.containeropdp{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            border: 1px solid rgba(0,0,0,.125);
            padding-top:1rem;
            padding-bottom:1rem;
        }
            div.containeropdp > h3{
                font-size: 1rem;
            }
            div.containeropdp > p{
                font-size: 1.8rem;
                font-weight: 600;
                margin-top:0.4rem;
            }

        /* RACHA */
        #rachaactual{
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            #rachaactual > p{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;
            }  
            #rachaactual > p > p{
                font-size: 2rem;
                text-align: center;
                font-weight: 600;
            }  
                #rachaactual> p > img{
                    width: 2.6rem;
                    height: 2.5rem;
                    margin-left: 1.5rem;
                }  
                #rachaactual > p >small{
                    width: 100%;
                    margin: auto;
                    
                    text-align: center;
                }  

                .subracha{
                    float:left;
                    margin-top: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                }
                    div#mejorracha.subracha >p{
                        text-align: center;
                        font-size: 1.4rem;
                        color: green
                    }
                    div#peorracha.subracha >p{
                        text-align: center;
                        font-size: 1.4rem;
                        color:red
                    }
                    .subracha >small{
                        font-size: 0.8rem;
                        margin-top: 0.5rem;
                    }
                    .subracha >small.text-muted{
                        font-size: 0.8rem;
                        margin-top: 0.5rem;
                    }
    /* MOMENTUM */ 
            #momentum{
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
                #momentum > p{
                    text-align: center;
                    font-size: 1.8rem;
                    margin-bottom: 1rem;
                    
                }
                #momentum > small{
                    text-align: center;
                }
        
        #ultimos6{
            text-align: center;
            margin-top: 1.8rem;
        }
            #containerlast6{
                display: flex;
            }
                .ult7box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 33%;
                }
                    #containerlast6 > div.ult7box > p{
                        font-size: 1.5rem;
                        margin-bottom: 0.4rem;
                    }
                    #containerlast6 > div.ult7box > small{
                        font-size: 1.2rem;
                    }
            /*TOOLTIP MOMENTUM*/

    /* TABLE LAST 20 */ 
        #ult20table{
            width: 60%;
            background-color: white;
            margin: auto;
            margin-bottom: 2rem;        
        }

    /* SECCION SUPERIOR */

    #containerdatospersonales{
        padding: 2rem;
        padding-left: 0rem;
        padding-bottom: 0rem;
        display: flex;
        width: 100%;
    }

    #datosperscol1{
        width: 50%;
    }
    #datosperscol2{
        width: 50%;
    }
    .datostop{
        margin-bottom:2rem
    }
    .datostop>p{
        margin-bottom:0.8rem;
        font-size:1.3rem;
        font-weight: 600;
    }

    /* FOTO */

    div#fotoPres{
        width: 35%;
        text-align: center;
    }
    div#fotoPres > img{
        margin: auto;
        margin-top: 4rem;
    }

    /*  PRIMER PANEL   - NO FUNCIONA*/
    #torneoactual{
        width: 50%;
    }
    div#rachacard{
        width: 25%;
    }
    #momentumcard{
        width: 25%;
    }
        #estetorneo{
            display: flex;
  
        }
            /*  PANEL TORNEO ACTUAL  */
             /* COLUMNA 1 */
                #estetorneocol1{
                    width: 65%;
                    display: flex;
                    justify-content: center;
                    margin-top: 0.5rem;
                
                }
                /* PRIMERA COLUMNA EN CUADRO ESTE TORNEO */
                    #col1cuadroestetorneo{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        border: 1px solid black;
                        border-right: 0;
                    }
                        #jugadosestetorneo{
                            height: 70%;
                        }
                            #asistenciaestetorneo > p{
                                text-align: center;
                                font-weight: 600;
                                margin-bottom: 0.2rem;
                            }
                            #asistenciaestetorneo > small{
                                display: flex;
                                justify-content: center;
                            }
                /* SEGUNDA COLUMNA EN CUADRO ESTE TORNEO */
                    #col2cuadroestetorneo{
                        width: 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        border: 1px solid black;
                    }
                    .subcuadroestetorneo{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        
                    }
                        .subcuadroestetorneo >small{
                            font-size: 1.2rem;
                        }
                        /* NUMERO DE PARTIDOS GANADOS/PERDIDOS/ETC EN CUADRO ESTE TORNEO */
                        #estetorneocol1 .subcuadroestetorneo >p{
                            font-size:2rem;
                            font-weight: 600;
                        }
                            /* COLORES CUADRO ESTE TORNEO */
                            #jugadosestetorneo > p{
                                color: blue;
                            }
                            #ganadosestetorneo > p{
                                color: green;
                            }
                            #perdidosestetorneo > p{
                                color: red;
                            }

                            /* BORDES CUADRO ESTE TORNEO */
                            #ganadosestetorneo{
                                height: 33.33333%;
                                border-bottom: 1px solid black;
                            }
                            #perdidosestetorneo{
                                height: 33.33333%;
                            }
                            #empatadosestetorneo{
                                height: 33.33333%;
                                border-bottom: 1px solid black;
                            }
                            

            /* COLUMNA 2 */
                #estetorneocol2{
                    width: 30%;
                    margin-left:2%
                }
                    .datostorneo{
                        margin-bottom: 1rem;
                    }
                    #estetorneocol2 > div.datostorneo > p{
                        font-size: 1.2rem;
                        text-align: center;
                    }
                    #estetorneocol2 > div.datostorneo > small{
                        display: flex;
                        justify-content: center;
                    }
                    #estetorneocol2 >div > p{
                        font-weight: 600;
                        margin-bottom: 0.3rem;
                    }

@media only screen and (max-device-width: 567px) {
            
    .seccionPrincipal {
        width: 80%;
    }
    #presentación {
        padding-left: 0;
        margin-top: 4rem;
    }
    #fotoPres{
    text-align: center;
    width: 50%;}

    #fotoPres img{
        width:100%;
        margin: auto;
    }
    #tituloFacultad {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    #datosPres {
        width: 75%;
    }
    #logrosEquipo h2 {
        font-size: 1.1rem;
        margin-left: 0;
    }

    ul#logrosLista {
        margin-left: 0rem;
    }
    ul#logrosLista li span {
        margin-left: 2%;
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
            ul#logrosLista li img {
                width: 1.3rem;
                margin-left: 0%;
            }

    div#bio {
        width: 100%;
    }

    .text-muted {
        font-size: 0.7rem;
    }

    .card-deck .card h5 {
        font-size: 1.2rem;
        margin-top:1rem
    }
    #rachaactual> p > img {
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 1rem;
    }
    .valuecuadros {
        font-size: 1.9rem;
    }
    #ultimos6 {
        font-size: 0.8rem;
        margin-top: 1.2rem;
    }
    .subracha {
        margin-top: 0rem
    }
    div#peorracha.subracha >p {
        font-size: 1.2rem;
    }
    div#mejorracha.subracha >p {
        font-size: 1.2rem;
    }
    .subracha >small.text-muted {
        font-size: 0.5rem;
    }

    div#eficienciaAlltime{
        width: 48%;
    }
    div#asistenciaAlltime{
        width: 48%;
    }
    div#partidosAlltime{
        width: 48%;
        margin-top: 1.4rem;
    }
    div#opydp{
        width: 48%;
        margin-top: 1.5rem;
    }
        div.containeropdp {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
        div.containeropdp > h3 {
            line-height: 1.3rem;
        }
    #statsimp {
        flex-wrap: wrap;
    }
    .cuadroMonoValor{
        padding:0.8rem
    }
    
    #ult20table {
        width: 90%;
    }
        #ult20table th{
            font-size: 0.9rem;
        }
        #ult20table td{
            font-size: 0.9rem;
        }
    /* AWARDS */

    .awarditem{
        width: 32%;
        margin-right:0
    }
        .awarditem > img{
            width: 40%;
        }
        .awarditem > h3{
            font-size: 1rem;
        }
    
}