#fotoPpalContainer{
    height: 40vh;
}

#indexbutton a{
    color:white
}

#edicionesbutton a{
    color:rgb(98, 161, 255)
}

#divisioncentral{
    width:80%;
    margin:auto
}

body{
    background-color: white;
}

table.torneos{
    width: 100%;
    margin: auto;
    margin-bottom:2rem;
}

        table.sortable tbody {
            counter-reset: sortabletablescope;
        }
        table.sortable thead tr::before {
            content: "#";
            display: table-cell;
        }
        table.sortable tbody tr::before {
            content: counter(sortabletablescope);
            counter-increment: sortabletablescope;
            display: table-cell;
        }

         /* Primeros */
         .torneos tbody tr:first-child td{
            background-color:rgba(38, 245, 19, 0.822);
        }
           
        .torneos tbody tr:first-child::before{
            background-color:rgba(38, 245, 19, 0.822);
        }
        /* Segundos */
        .torneos tbody tr:nth-child(2) td{
            background-color:rgba(129, 255, 103, 0.733);
        }
           
        .torneos tbody tr:nth-child(2)::before{
            background-color:rgba(129, 255, 103, 0.733);
        } 
        /* Terceros */
        .torneos tbody tr:nth-child(3) td{
            background-color:rgba(190, 253, 148, 0.733);
        }
        .torneos tbody tr:nth-child(3)::before{
            background-color:rgba(190, 253, 148, 0.733);
        } 

@media only screen and (max-device-width: 567px) {
    #divisioncentral {
        width: 95%;
        margin: auto;
    }
    #contenedorTablasTorneos tbody > tr > td {
        font-size: 0.75rem;
        line-height: 1.3px;
        padding: .6rem;
    }
    #contenedorTablasTorneos thead > tr > th {
        font-size: 0.75rem;
        padding: .5rem;
    }
    table.sortable tbody tr::before{
        font-size: 0.75rem;
    }

}